.about {
	font-size: 2rem;
	color: #000;
	background-color: #fff;
	&__wrapper {
		display: flex;
	}

	&__message {
		text-align: left;
		padding: 1rem;
	}

	&__strong {
		display: inline-block;
		margin-bottom: 2rem;
		position: relative;
		color: #000;
	}

	&__list {
		margin-top: 2rem;
		position: relative;
		color: #000;
	}

	&__item {
		margin-bottom: 1rem;
		list-style: disc;
	}

	&__text {
		color: #fff;
		padding: 4rem;
		flex: 1 1 50%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: linear-gradient(1deg, #edefee, #c9c9c9);
	}

	&__img {
		position: absolute;
		left: 0px;
		top: 0px;
		z-index: 0;
		width: 100%;
		height: 100%;
		filter: blur(2.5px);
		object-fit: cover;
	}

	&__form {
		flex: 1 1 50%;
		padding: 8rem 5rem;
		position: relative;
	}
}

.form {
	&__wrapper {
		border-radius: 10px;
		padding: 2rem;
		background-color: rgb(248, 248, 248);
		position: relative;
	}

	&__discount {
		text-align: center;
		margin-top: 1rem;
		line-height: 1.2;
	}

	&__content {
		padding: 5px;
		display: flex;
		flex-direction: column;
	}

	&__email,
	&__tel {
		border: 2px solid #cee1e5;
		border-radius: 5px;
		padding: 8px 10px;
		width: 310px;
		color: #575757;
		margin: 0 auto;
		margin-bottom: 1rem;
		outline: 0;
	}

	&__tel {
	}

	&__agree {
		width: 310px;
		margin: 0 auto;
		padding: 1rem;
		border-radius: 10px;
	}

	&__text {
		font-size: 2.5rem;
		text-align: center;
		font-weight: 700;
		margin-bottom: 1rem;
	}

	&__agree {
		font-size: 2rem;
		font-weight: 600;
	}
}

.message-about {
	color: $colorMain;
	// .message-about__header

	&__header {
		margin-bottom: 1rem;
		font-size: 3rem;
		opacity: 1;
		animation-name: appear;
		animation-duration: 4s;
		animation-iteration-count: 1;
	}

	// .message-about__list

	&__list {
		padding: 1rem;
		padding-left: 3rem;
	}

	// .message-about__link

	&__item {
		font-size: 2.1rem;
		padding-bottom: 9px;
		list-style: disc;
	}
}

.item1 {
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-delay: 1s;
	animation-name: from-bottom;
	opacity: 0;
	transform: translateY(100px);
	animation-fill-mode: forwards;
}

.item2 {
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-delay: 2s;
	animation-name: from-bottom;
	opacity: 0;
	transform: translateY(80px);
	animation-fill-mode: forwards;
}
.item3 {
	animation-duration: 1.5s;

	animation-iteration-count: 1;
	animation-delay: 3s;
	animation-name: from-bottom;
	opacity: 0;
	transform: translateY(60px);
	animation-fill-mode: forwards;
}
.item4 {
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-delay: 4s;
	animation-name: from-bottom;
	opacity: 0;
	transform: translateY(40px);
	animation-fill-mode: forwards;
}

@keyframes appear {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
@keyframes from-bottom {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
