.children-header {
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: 3rem;
	&__text {
		font-size: 2rem;
		line-height: 130%;
	}
	// .children-header__title
	&__title {
		@extend h2;
		margin-top: 3rem;
	}

	// .children-header__picture

	&__picture {
		max-height: 450px;
	}

	// .children-header__image

	&__image {
		max-width: 100%;
		height: auto;
		object-fit: cover;
	}
}

.children-goals {
	display: flex;
	column-gap: 6rem;
	margin-bottom: 5rem;
	@media (max-width: 960px) {
		column-gap: 3rem;
	}
	@media (max-width: 730px) {
		flex-direction: column;
	}
	&--reversed {
		flex-direction: row-reverse;
		margin-top: 8rem;
		@media (max-width: 730px) {
			flex-direction: column;
			align-items: center;
		}
	}
	h2 {
		margin-bottom: 3rem;
		margin-left: 6rem;
		@media (max-width: 960px) {
			font-size: 2rem;
		}
		@media (max-width: 730px) {
			margin-left: 0;
			text-align: center;
		}
	}
	// .children-goals__picture

	&__picture {
		min-width: 30%;
		@media (max-width: 960px) {
			min-width: 40%;
		}
		@media (max-width: 730px) {
			text-align: center;
			margin-bottom: 3rem;
		}
		&--wide {
			width: 60%;
			max-width: 35%;
			display: flex;
			@media (max-width: 730px) {
				max-width: 100%;
			}
			@media (max-width: 500px) {
				width: 90%;
			}
		}
	}

	// .children-goals__image

	&__image {
		width: 100%;
		height: auto;
		object-fit: cover;
		border-radius: 15px;
		overflow: hidden;
		@media (max-width: 730px) {
			width: 60%;
		}
		@media (max-width: 500px) {
			width: 90%;
		}
		&--wide {
			@media (max-width: 730px) {
				width: 100%;
			}
		}
	}

	&__descr {
	}

	&__main-title {
		margin-left: 0 !important;
		white-space: nowrap;
		@media (max-width: 1090px) {
			white-space: inherit;
		}
	}

	// .children-goals__list

	&__list {
		font-size: 2rem;
		line-height: 130%;
		@media (max-width: 960px) {
			font-size: 1.8rem;
		}
	}

	// .children-goals__item

	&__item {
		margin-bottom: 2rem;
		position: relative;
		padding-left: 4rem;
		&:before {
			content: '';
			position: absolute;
			width: 25px;
			height: 25px;
			top: -4px;
			left: 0px;
			background-image: url(../img/corporate/check.svg);
		}
	}
}

.children-text {
	font-size: 2.2rem;
	line-height: 130%;
	margin-bottom: 2rem;
	position: relative;
	padding-left: 8rem;
	@media (max-width: 500px) {
		padding-left: 6rem;
	}
	&:before {
		position: absolute;
		content: '';
		width: 40px;
		height: 40px;
		top: -12px;
		left: 0px;
		background: url('../img/kids4-6/exclamation-mark.svg') no-repeat center;
		transform: translate(50%, 50%);
		@media (max-width: 500px) {
			top: 12px;
			left: -14px;
		}
	}
	@media (max-width: 730px) {
		font-size: 1.8rem;
	}
	@media (max-width: 550px) {
		margin-top: -3rem;
		margin-bottom: 3rem;
	}
}

.children-button {
	display: inline-block;
	padding-right: 2rem;
	padding-left: 2rem;
	@media (max-width: 500px) {
		display: block;
		margin: 0;
	}
	&--last {
		margin-bottom: 4rem;
	}
}

.children-play {
	display: flex;
	column-gap: 5rem;
	margin-bottom: 5rem;
	@media (max-width: 730px) {
		flex-direction: column;
		justify-items: center;
		align-items: center;
	}
	// .children-play__picture

	&__picture {
		min-width: 25%;
		@media (max-width: 800px) {
			min-width: 35%;
		}
		@media (max-width: 730px) {
			margin-bottom: 4rem;
		}
	}

	// .children-play__image

	&__image {
		max-width: 100%;
		height: auto;
		object-fit: cover;
		border-radius: 10px;
	}

	// .children-play__text

	&__text {
		font-size: 2.1rem;
		line-height: 130%;
		@media (max-width: 960px) {
			font-size: 1.8rem;
		}
	}
}
