.footer {
	padding: 2rem;
	background-color: rgb(2 46 92);

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2rem;
	}

	// .footer__bottom
	&__bottom {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		& > * {
			margin-bottom: 2rem;
		}
	}

	// .footer__column1
	section {
		margin-right: 3rem;
	}

	// .footer__list1

	&__list1 {
	}

	// .footer__item1

	&__item1 {
		&:hover .footer__link1 {
			color: orange;
		}
		margin-bottom: 2rem;
	}

	// .footer___link1

	&__link1 {
		color: #fff;
		font-size: 1.6rem;
		font-weight: 500;
	}
}
