.description {
	margin-bottom: 2rem;
	p {
		margin-bottom: 2rem;
		font-size: 1.8rem;
		line-height: 1.1;
	}
}
.group-studying {
	color: #000;
	margin-bottom: 4rem;

	// .group-studying__title

	&__wrapper {
		background-image: url('../img/groupBackgroud3.jpg');
		background-repeat: no-repeat;
		background-position: 50% 20%;
		background-size: cover;
		padding-top: 2rem;
		padding-bottom: 3rem;
		padding-right: 1rem;
		padding-left: 1rem;
	}

	&__title {
		text-align: center;
		margin-bottom: 3rem;
		font-size: 2rem;
		text-transform: uppercase;
		color: black;
	}

	// .group-studying__button

	&__button {
		margin-bottom: 3rem;
		display: flex;
		justify-content: center;
	}

	&__link {
		display: inline-block;
		padding: 1.5rem 2rem;
		background-color: #1f9ce3;
		border-radius: 10px;
		font-size: 1.5rem;
		color: #fff;
		text-transform: uppercase;
		&:hover {
			background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
		}
	}

	// .group-studying__list

	&__list {
		display: grid;
		margin-top: 5rem;
		margin-bottom: 5rem;
		align-content: center;
		justify-content: center;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		gap: 4rem 1rem;
	}

	// .group-studying__item

	&__item {
		gap: 20px;
		display: grid;

		grid-template-columns: 50px 1fr;
	}

	// .group-studying__icon

	&__icon {
		img {
			max-width: 50px;
		}
	}

	// .group-studying__text-top

	&__text-top {
		line-height: 1.3;
		font-size: 2.1rem;
		font-weight: 600;
		align-self: center;
		justify-self: start;
		@media (max-width: 430px) {
			font-size: 1.7rem;
		}
	}
}

////////////////////////////////////////////////////////////////

.group-advantages {
	font-size: 1.8rem;
	color: #000;
	margin-bottom: 5rem;

	// .group-advantages__title

	&__title {
		padding-left: 6rem;
		margin-bottom: 2rem;
		@media (max-width: 550px) {
			margin-bottom: 6rem;
			padding-left: 0rem;

			text-align: center;
		}
	}

	// .group-advantages__description

	&__description {
		position: relative;
		padding-left: 6rem;
		margin-bottom: 4rem;
		font-size: 2rem;
		line-height: 1.4;
		font-weight: 500;
		@media (max-width: 550px) {
			padding-left: 2rem;
		}
		&:before {
			content: '';
			width: 40px;
			height: 40px;
			position: absolute;
			left: 0;
			top: 2px;
			background-image: url('../img/question-mark.svg');
			@media (max-width: 550px) {
				left: 50%;
				top: -54px;
				transform: translateX(-50%);
			}
		}
	}

	// .group-advantages__wrapper

	&__wrapper {
		align-items: center;
		justify-content: center;
		display: flex;
		column-gap: 3rem;
		@media (max-width: 660px) {
			flex-direction: column;
			row-gap: 3rem;
		}
	}

	// .group-advantages__picture

	&__left {
		flex: 0 0 250px;
		@media (max-width: 660px) {
			width: 70%;
		}
	}
	&__right {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	// .group-advantages__image

	&__image {
		height: auto;
		width: 100%;
		object-fit: cover;
		border-radius: 10px;
	}

	// .group-advantages__subtitle

	&__subtitle {
		font-style: italic;
		letter-spacing: 0.7px;
		position: relative;
		padding-left: 4rem;
		font-size: 1.9rem;
		color: $colorMain;
		font-weight: 600;
		margin-bottom: 1rem;
		&:before {
			content: '';
			position: absolute;
			width: 25px;
			height: 25px;
			top: -4px;
			left: 0;
			background-image: url('../img/check-icon.svg');
		}
	}

	// .group-advantages__text

	&__text {
		padding-left: 0.5rem;
		margin-bottom: 2rem;
		font-size: 1.7rem;
	}
}

///////////////////////////////////////////////////

.group-form {
	padding-top: 4rem;
	padding-bottom: 4rem;
	background: linear-gradient(90deg, #af4a4a, #181b85);

	// .group-form__wrapper

	&__title {
		padding-left: 5rem;
		color: #fff;
		@media (max-width: 400px) {
			padding-left: 0rem;
			text-align: center;
		}
		span {
			color: rgb(255, 60, 102);
		}
	}
}
.form {
	// .form__content

	&__content {
		@media (max-width: 620px) {
			flex-direction: column;
			> *:not(:last-child) {
				margin-bottom: 2rem;
			}
		}
	}

	// .form__content--horizontal

	&__content--horizontal {
	}

	// .form__email

	&__email {
		@media (max-width: 620px) {
			width: 80%;
		}
	}

	// .form__tel

	&__tel {
		@media (max-width: 620px) {
			width: 80%;
		}
	}

	// .form__agree

	&__agree {
	}
}

//////////////////////////////////////

.group-benefits {
	&__wrapper {
		display: flex;
		padding-top: 4rem;
		padding-bottom: 4rem;
		margin: 0 auto;
		justify-content: space-around;
		@media (max-width: 960px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	// .group-benefits__left

	&__left {
		padding-left: 5rem;
		margin-top: auto;
		margin-bottom: auto;
		color: #000;
		max-width: 600px;
		@media (max-width: 400px) {
			padding-left: 0;
		}
	}

	// .group-benefits__text

	&__text {
		padding-left: 0.5rem;
		margin-bottom: 1rem;
		font-size: 1.8rem;
		line-height: 1.2;
		position: relative;
		&:before {
			position: absolute;
			content: '';
			left: -40px;
			top: -3px;
			width: 25px;
			height: 25px;
			transform: rotate(-45deg);
			background-image: url('../img/dart.svg');
			@media (max-width: 400px) {
				left: 10px;
			}
		}
		span {
			display: inline-block;
			font-size: 2rem;
			font-weight: 600;
			margin-bottom: 3px;
			font-style: italic;
			@media (max-width: 400px) {
				padding-left: 5rem;
			}
		}
	}

	// .group-benefits__right

	&__right {
		padding-left: 2rem;
		align-self: center;
		max-width: 555px;
		min-width: 400px;
		@media (max-width: 960px) {
			padding-left: 0;
			min-width: 300px;
			order: -1;
			align-self: center;
			width: 80%;
			margin-bottom: 2rem;
		}
	}

	// .group-benefits__image

	&__image {
		border-radius: 10px;
		width: 100%;
		height: auto;
		object-fit: cover;
	}
}
