.it-header {
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: 3rem;

	// .it-header__text
	&__text {
		font-size: 2rem;
		line-height: 130%;
		@media (max-width: 600px) {
			font-size: 1.8rem;
		}
	}

	// .it-header__picture

	&__picture {
		max-height: 450px;
		margin-bottom: 3rem;
	}

	// .it-header__image

	&__image {
		max-width: 100%;
		height: auto;
		object-fit: cover;
	}
}

.it-benefits {
	margin-bottom: 6rem;
	// .it-benefits__wrapper
	&__wrapper {
		position: relative;
		min-height: 480px;
		max-width: 1070px;
		background-image: url('../img/it/it-background-narrow.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 100% 50%;
		@media (max-width: 620px) {
			background-image: none;
		}
	}

	// .it-benefits__list
	&__list {
		position: absolute;
		padding-left: 3rem;
		@media (max-width: 700px) {
			padding-left: 0;
		}
		@media (max-width: 620px) {
			position: initial;
		}
	}

	// .it-benefits__title

	&__title {
		margin-bottom: 3rem;
	}

	// .it-benefits__item
	&__item {
		max-width: 650px;
		font-size: 1.9rem;
		line-height: 140%;
		margin-bottom: 1.6rem;
		position: relative;
		padding-left: 5rem;
		&:before {
			content: '';
			position: absolute;
			width: 25px;
			height: 25px;
			top: 3px;
			left: 0px;
			background-image: url(../img/corporate/check.svg);
		}
		@media (max-width: 460px) {
			font-size: 1.7rem;
		}
	}
}

.it-text {
	font-size: 2rem;
	line-height: 130%;
	margin-bottom: 2rem;
	@media (max-width: 600px) {
		font-size: 1.8rem;
	}
}
