body {
	line-height: 1;
	color: #fff;
	font-family: 'Roboto', 'Arial', sans-serif;
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
}

.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.main {
	margin-top: 14rem;
	color: #000;
}

h2 {
	font-weight: 500;
	text-align: left;
	line-height: 1.2em;
	vertical-align: baseline;
	color: #204a66;
	position: relative;
	text-transform: uppercase;
	font-size: 2.7rem;
	margin-bottom: 3rem;
	a {
		color: inherit;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: #204a66;
			transition: all 0.3s ease;
		}
		&:hover:before {
			width: 0%;
			left: 50%;
		}
	}
}

strong {
	font-size: 2.2rem;
}
