.starter-header {
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: 3rem;
	&__text {
		font-size: 2rem;
		line-height: 130%;
		margin-bottom: 3rem;
		@media (max-width: 500px) {
			font-size: 1.8rem;
		}
		span {
			font-size: 2.6rem;
			font-weight: 800;
			@media (max-width: 600px) {
				font-size: 2.2rem;
			}
			@media (max-width: 400px) {
				font-size: 2rem;
			}
		}
	}
	// .children-header__title
	&__title {
		@extend h2;
		margin-top: 3rem;
	}

	// .children-header__picture

	&__picture {
		max-height: 650px;
	}

	// .children-header__image

	&__image {
		max-width: 100%;
		height: auto;
		object-fit: cover;
		@media (max-width: 500px) {
			min-height: 200px;
		}
	}
}

.starter-benefits {
	// .starter-benefits__picture
	@media (max-width: 350px) {
		margin-top: -3rem;
	}
	&__picture {
		position: relative;
		min-height: 550px;
		max-height: 550px;
		background-image: url(../img/beginner/bg-towe.jpg);
		background-repeat: no-repeat;
		background-position: 100% 30%;
		margin-bottom: 4rem;
		@media (max-width: 950px) {
			background-image: none;
			min-height: 450px;
		}
		@media (max-width: 430px) {
			min-height: 500px;
		}
		@media (max-width: 350px) {
			min-height: 550px;
		}
	}

	// .starter-benefits__list

	&__list {
		position: absolute;
		left: 5%;
		top: 0%;
		max-width: 500px;
		@media (max-width: 550px) {
			left: 0%;
		}
		// z-index: 99;
	}

	// .starter-benefits__item

	&__item {
		line-height: 130%;
		position: relative;
		padding-left: 4rem;
		font-size: 1.9rem;
		margin-bottom: 2rem;
		&:before {
			content: '';
			position: absolute;
			width: 25px;
			height: 25px;
			top: -4px;
			left: 0px;
			background-image: url(../img/corporate/check.svg);
		}
	}
}

.starter-content {
	// .starter-content__picture
	@media (max-width: 350px) {
		margin-top: 10rem;
	}
	&__picture {
		position: relative;
		min-height: 550px;
		max-height: 550px;
		background-image: url(../img/beginner/bg-white.jpg);
		background-repeat: no-repeat;
		background-position: 50% 30%;
		margin-bottom: 4rem;
		border-radius: 15px;
		@media (max-width: 460px) {
			background-image: none;
		}
	}

	h2 {
		position: absolute;
		top: 25%;
		left: 10%;
		@media (max-width: 850px) {
			left: 0;
		}
		@media (max-width: 500px) {
			top: 17%;
		}
	}

	// .starter-content__text

	&__text {
		position: absolute;
		top: 35%;
		left: 10%;
		font-size: 1.8rem;
		line-height: 135%;
		max-width: 800px;
		@media (max-width: 850px) {
			left: 0;
		}
		@media (max-width: 500px) {
			top: 25%;
		}
		span {
			font-weight: 600;
			font-size: 2rem;
		}
		@media (max-width: 350px) {
			top: 30%;
		}
	}
}

.starter-clicable-elements {
	margin-bottom: 3rem;
	@media (max-width: 350px) {
		margin-top: 9rem;
	}
}
