.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
[class*='_container'] {
	max-width: 110rem;
	min-width: 32rem;
	margin: 0px auto;
	padding: 0px 1.5rem;
}
