@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap);
.wrapper,
body {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	display: -webkit-box;
	display: -ms-flexbox;
}
body,
html {
	height: 100%;
}
.item1,
.message-about__header {
	-webkit-animation-iteration-count: 1;
}
.about__strong span,
.advantages__item,
.after-education__title,
.button-action,
.card-corporate__title,
.card__title,
.group-studying__link,
.group-studying__title,
.item-education__text,
.prices-additional-info,
.prices__additional-info,
.suggestion {
	text-transform: uppercase;
}
*,
::after,
::before {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:hover,
a:visited {
	text-decoration: none;
}
.elementary-header a,
.individual-highlight,
.kids-programs__link {
	text-decoration: underline;
}
.children-header__title,
.contacts__title,
.corporate-english h1,
.elementary-header__title,
.individual-header__title,
.online-main-header,
.pi-header__title,
.starter-header__title,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html {
	font-size: 10px;
}
body {
	line-height: 1;
	color: #fff;
	font-family: Roboto, Arial, sans-serif;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}
main {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
.header .socials,
.wrapper {
	-ms-flex-direction: column;
}
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.main {
	margin-top: 14rem;
	color: #000;
}
.children-header__title,
.contacts__title,
.corporate-english h1,
.elementary-header__title,
.individual-header__title,
.online-main-header,
.pi-header__title,
.starter-header__title,
h1,
h2 {
	font-weight: 500;
	text-align: left;
	line-height: 1.2em;
	vertical-align: baseline;
	color: #204a66;
	position: relative;
	text-transform: uppercase;
	font-size: 2.7rem;
	margin-bottom: 3rem;
}
.children-header__title a,
.contacts__title a,
.corporate-english h1 a,
.elementary-header__title a,
.individual-header__title a,
.online-main-header a,
.pi-header__title a,
.starter-header__title a,
h1 a,
h2 a {
	color: inherit;
	position: relative;
}
.children-header__title a:before,
.contacts__title a:before,
.corporate-english h1 a:before,
.elementary-header__title a:before,
.individual-header__title a:before,
.online-main-header a:before,
.pi-header__title a:before,
.starter-header__title a:before,
h1 a:before,
h2 a:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #204a66;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.children-header__title a:hover:before,
.contacts__title a:hover:before,
.elementary-header__title a:hover:before,
.individual-header__title a:hover:before,
.online-main-header a:hover:before,
.pi-header__title a:hover:before,
.starter-header__title a:hover:before,
h1 a:hover:before,
h2 a:hover:before {
	width: 0%;
	left: 50%;
}
strong {
	font-size: 2.2rem;
}
.spinner:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../img/loading.gif') center/50px no-repeat rgba(51, 51, 51, 0.9);
	opacity: 0;
	visibility: hidden;
}
.popup.open,
.spinner._sending:after {
	opacity: 1;
	visibility: visible;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
[class*='_container'] {
	max-width: 110rem;
	min-width: 29rem;
	margin: 0 auto;
	padding: 0 1.5rem;
}
.collapsable {
	border-radius: 10px;
	background-color: #f2f3f4;
	color: #000;
	cursor: pointer;
	padding: 1.8rem;
	width: 100%;
	border: none;
	text-align: left;
	outline: 0;
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 1rem;
}
.collapsable--active,
.collapsable:hover {
	background-color: beige;
}
.collapsable span {
	position: relative;
}
.collapsable span:before {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	right: -35px;
	background-image: url(../img/beginner/plus-mark.svg);
}
.collapsable span.active:before {
	background-image: url(../img/beginner/minus-mark.svg);
}
.collapsable-hidden-content {
	font-size: 1.7rem;
	line-height: 130%;
	padding: 0 2rem;
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height 0.3s ease-out;
	-o-transition: max-height 0.3s ease-out;
	transition: max-height 0.3s ease-out;
	background-color: none;
}
.collapsable-hidden-content p,
.contacts__address,
.contacts__direction,
.contacts__info,
.description,
.footer__item1,
.prices__info,
.programms-corporate__info {
	margin-bottom: 2rem;
}
.collapsable-hidden-content ul {
	padding-left: 4rem;
	margin-bottom: 2rem;
}
.collapsable-hidden-content ul li {
	margin-bottom: 5px;
	list-style-type: disc;
}
.header__tel--botom {
	display: none;
}
.header {
	position: fixed;
	z-index: 999;
	top: 0;
	width: 100%;
	background-color: #fff;
}
.header__top,
.menu__list > li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.form__content,
.header .socials,
.header__additional-info,
.logo,
.vip-english-advantages__list {
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
}
.header__text {
	font-size: 1.9rem;
	font-weight: 500;
	color: #001268;
	margin-right: auto;
	line-height: 1.05;
}
.header__tel {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 0.4rem;
	color: #001268;
	font-size: 1.7rem;
	line-height: 1.6em;
}
@media (max-width: 1062px) {
	.header__tel {
		font-size: 1.4rem;
	}
}
.header__free-testing-button {
	background: #3a5c87;
	margin-right: 2rem;
	-ms-flex-item-align: center;
	align-self: center;
}
.header__free-lesson-button {
	background: #cc6380;
	margin-right: 2rem;
}
.header__viber span {
	width: 45px;
	height: 45px;
}
.header .socials {
	display: flex;
	flex-direction: column;
	margin-left: 4rem;
}
.form__content,
.header__additional-info,
.vip-english-advantages__list {
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}
.button-action {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 230px;
	flex: 0 1 230px;
	max-height: 60px;
	font-weight: 600;
	line-height: 1.3;
	border-radius: 4px;
	color: #fff;
	padding: 10px 5px;
	outline: 0;
	font-size: 1.4rem;
	cursor: pointer;
	text-align: center;
}
.logo {
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 11rem;
	max-width: 11rem;
	height: 100%;
	margin-right: 3rem;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}
.logo img {
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	min-width: 110px;
	max-width: 110px;
}
.logo--faded {
	opacity: 0.75;
}
.header__bottom {
	background: #001268;
	-webkit-box-shadow: 0 5px 14px -3px rgba(64, 64, 64, 0.84);
	box-shadow: 0 5px 14px -3px rgba(64, 64, 64, 0.84);
}
.header__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	min-height: 70px;
}
.header__free-lesson-button--bottom,
.header__free-testing-button--bottom,
.menu__icon,
.telegram--bottom,
.viber--bottom {
	display: none;
}
.menu__arrow {
	display: block;
	width: 0;
	height: 0;
	margin: 0 0 0 7px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #fff;
	position: relative;
}
.menu__item:hover,
.menu__sub-link:hover {
	background-color: #283a8f;
}
.menu__item {
	position: relative;
	margin: 0 0 0 10px;
	font-size: 18px;
}
.menu__link {
	color: #fff;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding-top: 5px;
	padding-bottom: 5px;
}
.menu__sub-list {
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #001268;
	min-width: 90%;
	width: 270px;
}
.menu__sub-item {
	width: 100%;
	margin: 0 0 15px;
}
.menu__sub-item:last-child {
	margin-bottom: 0;
}
.menu__sub-link {
	width: 100%;
	display: inline-block;
	padding: 10px 10px 10px 20px;
	color: #fff;
}
.menu__item:hover .menu__sub-list {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}
@media (min-width: 1041px) {
	.menu__list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.menu__item {
		padding: 10px 5px;
	}
	.menu__sub-list {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		-webkit-transition: 0.3s 0;
		-o-transition: 0.3s 0;
		transition: 0.3s 0;
	}
}
@media (max-width: 1040px) {
	.main {
		margin-top: 8rem;
	}
	.logo {
		margin-right: 1rem;
	}
	.header__bottom {
		min-height: 70px;
	}
	.menu__arrow:before {
		content: '';
		position: absolute;
		width: 40px;
		height: 40px;
		background-color: rgba(255, 255, 255, 0.3);
		border-radius: 50%;
		top: -25px;
		right: -20px;
	}
	.menu__arrow._active {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	.header__free-lesson-button--bottom,
	.header__free-testing-button--bottom {
		display: block;
		position: absolute;
		z-index: 999;
		top: 17px;
		left: 70px;
		color: #fff;
		font-size: 1.2rem;
	}
	.header__free-lesson-button--bottom {
		left: 270px;
	}
}
@media (max-width: 1040px) and (max-width: 1040px) {
	.header__tel--botom {
		display: block;
		position: absolute;
		font-size: 0;
		z-index: 999;
		top: 17px;
		right: 120px;
		color: #fff;
		margin-top: 0.5rem;
	}
	.header__tel--botom:before {
		content: '';
		width: 30px;
		height: 30px;
		top: -6px;
		left: -20px;
		background: url(../img/phone.svg) center no-repeat;
		position: absolute;
	}
}
@media (max-width: 1040px) and (max-width: 370px) {
	.header__tel--botom {
		left: 225px;
		display: block;
	}
}
@media (max-width: 1040px) and (max-width: 550px) {
	.header__free-testing-button--bottom {
		display: none;
	}
	.header__free-lesson-button--bottom {
		left: 70px;
	}
}
.about__text,
.about__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
}
@media (max-width: 1040px) {
	.telegram--bottom,
	.viber--bottom {
		display: block;
		position: absolute;
		z-index: 999;
		top: 17px;
		right: 10px;
	}
	.telegram--bottom {
		right: 50px;
	}
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		top: 24px;
	}
	.menu__icon span,
	.menu__icon::after,
	.menu__icon::before {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
		background-color: #fff;
	}
	.menu__icon::after,
	.menu__icon::before {
		content: '';
	}
	.menu__icon::before {
		top: 0;
	}
	.menu__icon::after {
		bottom: 0;
	}
	.menu__icon span {
		top: 50%;
		-webkit-transform: scale(1) translate(0, -50%);
		-ms-transform: scale(1) translate(0, -50%);
		transform: scale(1) translate(0, -50%);
	}
	.menu__icon._active span {
		-webkit-transform: scale(0) translate(0, -50%);
		-ms-transform: scale(0) translate(0, -50%);
		transform: scale(0) translate(0, -50%);
	}
	.menu__icon._active::before {
		top: 50%;
		-webkit-transform: rotate(-45deg) translate(0, -50%);
		-ms-transform: rotate(-45deg) translate(0, -50%);
		transform: rotate(-45deg) translate(0, -50%);
	}
	.menu__icon._active::after {
		bottom: 50%;
		-webkit-transform: rotate(45deg) translate(0, 50%);
		-ms-transform: rotate(45deg) translate(0, 50%);
		transform: rotate(45deg) translate(0, 50%);
	}
	.menu__body,
	.menu__body:before {
		position: fixed;
		width: 100%;
		top: 0;
	}
	.menu__body {
		left: -100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 150px 30px 30px;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
		overflow: auto;
	}
	.menu__body:before {
		content: '';
		background-color: #001268;
		left: 0;
		height: 70px;
		z-index: 10;
	}
	.menu__body._active {
		left: 0;
	}
	.menu__list > li {
		margin: 0 0 30px;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.menu__list > li._active .menu__sub-list {
		display: block;
	}
	.menu__link {
		font-size: 24px;
		max-width: 80%;
	}
	.menu__sub-list {
		position: relative;
		padding: 1rem;
		background-color: #e2e6e5;
		border-radius: 10px;
		-webkit-box-flex: 1;
		-ms-flex: 1 1 100%;
		flex: 1 1 100%;
		margin-top: 20px;
		display: none;
	}
	.menu__sub-link {
		font-size: 20px;
		color: #000;
	}
	.header__top {
		display: none;
	}
	.menu__arrow {
		margin-left: auto;
		margin-right: 30px;
	}
	.menu__item:hover {
		background-color: transparent;
	}
}
.about {
	font-size: 2rem;
	color: #000;
	background-color: #fff;
}
.about__wrapper {
	display: flex;
	background: url('../img/about4.jpg') 50% 15% no-repeat;
}
.about__message p {
	font-size: 1.8rem;
	margin-bottom: 2rem;
	line-height: 120%;
}
.about__strong {
	display: inline-block;
	margin-bottom: 2rem;
	position: relative;
	line-height: 1.2;
}
.about__strong span {
	font-style: italic;
	font-size: 2.2rem;
	font-weight: 500;
}
.about__list {
	margin-top: 2rem;
	position: relative;
}
.about__item {
	margin-bottom: 2rem;
	list-style: disc;
	font-size: 1.9rem;
}
@media (max-width: 760px) {
	.about__item {
		margin-bottom: 1rem;
	}
}
.about__text {
	color: #000;
	font-weight: 500;
	padding: 2rem 2rem 2rem 7rem;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 50%;
	flex: 1 1 50%;
	position: relative;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.message-about,
.needs__list {
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-direction: normal;
}
@media (max-width: 1010px) {
	.about__text {
		padding-left: 5rem;
	}
}
.advantages,
.needs {
	background-image: -webkit-gradient(linear, right top, left top, from(#f3ffe5), to(#f1f4f9));
	background-image: -o-linear-gradient(right, #f3ffe5 0, #f1f4f9 100%);
}
.about__img {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	width: 120%;
	height: 120%;
	-webkit-filter: blur(0.5px);
	filter: blur(0.5px);
	-o-object-fit: cover;
	object-fit: cover;
}
.about__form,
.advantages__item,
.advantages__items,
.card__icon,
.card__link,
.form__wrapper,
.image-slider,
.needs__arrow,
.needs__problem,
.programms {
	position: relative;
}
.about__form {
	overflow: hidden;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 50%;
	flex: 1 1 50%;
	padding: 8rem 5rem;
}
@media (max-width: 950px) {
	.about__form {
		padding: 8rem 1rem;
	}
}
.form__wrapper {
	border-radius: 10px;
	padding: 2rem;
	background-color: #f8f8f8;
}
.form__discount {
	text-align: center;
	margin-top: 1rem;
	line-height: 1.2;
}
.form__content--horizontal {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.form__content--horizontal > input {
	margin: 0 1rem 0 0;
}
.form__email,
.form__tel {
	border: 2px solid #cee1e5;
	border-radius: 5px;
	padding: 8px 10px;
	width: 310px;
	color: #575757;
	margin: 0 auto 1rem;
	outline: 0;
}
.form__agree,
.prices-additional-info a {
	color: #fff;
	border-radius: 10px;
	background-color: #ff5a66;
}
.form__email:focus,
.form__tel:focus {
	-webkit-box-shadow: 0 0 15px #7a956b;
	box-shadow: 0 0 15px #7a956b;
}
@media (max-width: 800px) {
	.about__strong {
		font-size: 1.9rem;
		margin-bottom: 0;
	}
	.about__strong span {
		font-size: 1.9rem;
	}
	.form__email,
	.form__tel {
		width: 260px;
	}
}
.form__email._error,
.form__tel._error {
	-webkit-box-shadow: 0 0 15px red;
	box-shadow: 0 0 15px red;
}
.form__agree {
	outline: 0;
	cursor: pointer;
	width: 310px;
	margin: 0 auto;
	padding: 1rem;
}
.form__agree:focus {
	-webkit-box-shadow: 0 0 15px #7a956b;
	box-shadow: 0 0 15px #7a956b;
}
@media (max-width: 800px) {
	.form__agree {
		width: 260px;
	}
}
@media (max-width: 370px) {
	.form__agree,
	.form__email,
	.form__tel {
		width: 200px;
	}
}
.form__text {
	font-size: 2.5rem;
	text-align: center;
	font-weight: 700;
	margin-bottom: 1rem;
}
.form__agree {
	font-size: 2rem;
	font-weight: 600;
}
.message-about {
	color: #001268;
	display: flex;
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.vip-english-groups__text a {
	font-size: 1.8rem;
	color: #fff;
	display: inline-block;
	border-radius: 10px;
	padding: 3px 10px;
	background-color: #ff5a66;
}
.vip-english-groups__text span {
	font-weight: 800;
	font-size: 2rem;
	text-decoration: underline;
}
.vip-english-groups__picture {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 300px;
	flex: 0 0 300px;
}
.vip-english-groups__description {
	font-size: 2.2rem;
	line-height: 130%;
}
.elementary-header,
.it-header,
.pi-header,
.starter-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
	margin-bottom: 3rem;
}
.it-header__picture {
	position: relative;
	max-height: 450px;
	margin-bottom: 3rem;
}
.it-header__title {
	font-size: 10rem;
	font-weight: 800;
	color: #d60265;
	font-style: italic;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
@media (max-width: 800px) {
	.kids-programs__program--reversed {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.kids-programs__text {
		max-width: 95%;
	}
	.kids-programs__image {
		-ms-flex-item-align: center;
		align-self: center;
		max-width: 90%;
		margin-bottom: 3rem;
	}
	.kids-programs__bottom {
		margin-top: 2rem;
	}
	.kids-benefits .children-header__title,
	.kids-benefits .contacts__title,
	.kids-benefits .elementary-header__title,
	.kids-benefits .individual-header__title,
	.kids-benefits .online-main-header,
	.kids-benefits .pi-header__title,
	.kids-benefits .starter-header__title,
	.kids-benefits h1,
	.kids-benefits h2 {
		font-size: 2.4rem;
	}
	.online-main-header {
		margin-top: -4rem;
	}
	.online-description {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin-bottom: 2rem;
	}
	.online-description__left {
		max-width: 100%;
		padding: 2rem;
		font-size: 1.7rem;
	}
	.online-description__right {
		margin-left: 0;
		max-width: 80%;
	}
	.online-benefits__item {
		font-size: 1.7rem;
	}
	.after-corporate__picture {
		background-position: 70% 30%;
	}
	.children-play__picture {
		min-width: 35%;
	}
	.vip-english-groups__wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.vip-english-groups__picture {
		margin-bottom: 3rem;
		max-width: 550px;
		-webkit-box-flex: 0;
		-ms-flex: none;
		flex: none;
		-ms-flex-item-align: center;
		align-self: center;
	}
	.it-header__title {
		font-size: 8rem;
	}
}
.it-benefits__wrapper {
	position: relative;
	min-height: 480px;
	max-width: 1070px;
	background-image: url('../img/it/it-background-narrow.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 50%;
}
.it-benefits__list {
	position: absolute;
	padding-left: 3rem;
}
@media (max-width: 620px) {
	.form__content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.form__content > :not(:last-child) {
		margin-bottom: 2rem;
	}
	.form__email,
	.form__tel {
		width: 80%;
	}
	.it-header__title {
		font-size: 6rem;
	}
	.it-benefits__wrapper {
		background-image: none;
	}
	.it-benefits__list {
		position: initial;
	}
}
.it-benefits__item {
	max-width: 650px;
	font-size: 1.9rem;
	line-height: 140%;
	margin-bottom: 1.6rem;
	position: relative;
	padding-left: 5rem;
}
.it-benefits__item:before {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	top: 3px;
	left: 0;
	background-image: url(../img/corporate/check.svg);
}
.elementary-benefits__item:before,
.pi-benefits__item:before,
.starter-benefits__item:before {
	content: '';
	width: 25px;
	height: 25px;
	top: -4px;
	left: 0;
	background-image: url(../img/corporate/check.svg);
}
@media (max-width: 460px) {
	.corporate-english__programms {
		margin-top: -6rem;
	}
	.it-benefits__item {
		font-size: 1.7rem;
	}
}
.elementary-header__text,
.pi-header__text,
.starter-header__text {
	font-size: 2rem;
	line-height: 130%;
	margin-bottom: 3rem;
}
.starter-header__text span {
	font-size: 2.3rem;
	font-weight: 800;
}
.elementary-header__elementarycture,
.pi-header__picture,
.starter-header__picture {
	max-height: 650px;
}
.elementary-benefits__picture,
.starter-benefits__picture {
	position: relative;
	min-height: 550px;
	max-height: 550px;
	background-image: url(../img/beginner/bg-towe.jpg);
	background-repeat: no-repeat;
	background-position: 100% 30%;
	margin-bottom: 4rem;
}
.elementary-benefits__list,
.starter-benefits__list {
	position: absolute;
	left: 5%;
	top: 0;
	max-width: 500px;
}
.elementary-benefits__item,
.pi-benefits__item,
.starter-benefits__item {
	line-height: 130%;
	position: relative;
	padding-left: 4rem;
	font-size: 1.9rem;
	margin-bottom: 2rem;
}
.starter-benefits__item:before {
	position: absolute;
}
.pi-content,
.starter-content {
	padding: 2rem 1rem;
	margin-bottom: 4rem;
	background-color: #f2f3f4;
	border-radius: 15px;
}
.elementary-content__text,
.pi-content__text,
.starter-content__text {
	font-size: 1.8rem;
	line-height: 135%;
}
.pi-header__text span {
	font-size: 2.3rem;
	font-weight: 800;
}
.pi-benefits__picture {
	position: relative;
	min-height: 550px;
	max-height: 550px;
	background-image: url(../img/pi/bg-text.jpg);
	background-repeat: no-repeat;
	background-position: 100% 100%;
	margin-bottom: 4rem;
}
@media (max-width: 700px) {
	.kids-benefits__wrapper {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.kids-benefits__img-wrapper,
	.online-benefits__image-wrapper img {
		display: none;
	}
	.contacts {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-top: 2rem;
	}
	.contacts__right {
		max-width: 100%;
		min-height: 300px;
		margin-bottom: 2rem;
	}
	.contacts__map {
		min-width: 100%;
		min-height: 300px;
	}
	.online-benefits__wrapper {
		-webkit-column-gap: 0;
		-moz-column-gap: 0;
		column-gap: 0;
		margin-bottom: 0;
	}
	.it-benefits__list {
		padding-left: 0;
	}
	.pi-benefits__picture {
		background-image: none;
	}
}
.pi-benefits__list {
	position: absolute;
	left: 5%;
	top: 10%;
	max-width: 680px;
}
.pi-benefits__item:before {
	position: absolute;
}
@media (max-width: 550px) {
	.about__message p {
		font-size: 1.6rem;
	}
	.advantages__items {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
	.advantages__item {
		-ms-flex-item-align: start;
		align-self: start;
	}
	.group-advantages__title {
		margin-bottom: 6rem;
		padding-left: 0;
		text-align: center;
	}
	.group-advantages__description {
		padding-left: 2rem;
	}
	.group-advantages__description:before {
		left: 50%;
		top: -54px;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.children-text {
		margin-top: -3rem;
		margin-bottom: 3rem;
	}
	.elementary-benefits__list,
	.starter-benefits__list {
		left: 0;
	}
	.pi-benefits__list {
		top: 2%;
		left: 0;
	}
	.pi-benefits__item {
		font-size: 1.8rem;
	}
}
@media (max-width: 450px) {
	.kids-programs__schedule {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		gap: 2rem;
	}
	.kids-programs__schedule .more {
		margin: 0 auto;
		padding: 1rem;
	}
	.pi-benefits__item {
		font-size: 1.7rem;
		padding-left: 3.5rem;
	}
}
.elementary-header a {
	color: inherit;
}
.elementary-header__text span {
	font-size: 2.3rem;
	font-weight: 800;
}
@media (max-width: 600px) {
	.prices,
	.programms-corporate {
		margin-top: 1rem;
		padding-top: 3rem;
	}
	.prices__list,
	.programms-corporate__list {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.prices__card,
	.programms-corporate__card {
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.advantages__list {
		padding: 0.5rem;
	}
	.advantages__item {
		padding: 1.5rem;
	}
	.after-education__item {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 80%;
		flex: 1 1 80%;
		max-width: 90%;
		padding: 1rem;
	}
	.item-education {
		min-height: 200px;
		margin-bottom: 2rem;
	}
	.online-advantages__list {
		grid-template-columns: repeat(1, 1fr);
	}
	.item-advantages__right {
		text-align: center;
	}
	.item-advantages__image {
		max-height: 55px;
	}
	.after-corporate__picture {
		background-image: none;
	}
	.it-header__text,
	.it-text {
		font-size: 1.8rem;
	}
	.elementary-header__text span,
	.pi-header__text span,
	.starter-header__text span {
		font-size: 2.2rem;
	}
}
@media (max-width: 400px) {
	.prices__card,
	.programms-corporate__card {
		min-width: 100%;
	}
	.programms._container {
		padding: 0 0.5rem;
	}
	.group-form__title {
		padding-left: 2rem;
		text-align: center;
	}
	.group-benefits__left {
		padding-left: 0;
	}
	.group-benefits__text:before {
		display: none;
	}
	.group-benefits__text span {
		padding-left: 2rem;
		font-size: 1.8rem;
		margin-bottom: 6px;
	}
	.corporate-english__programms {
		margin-top: -10rem;
	}
	.elementary-header__text span,
	.pi-header__text span,
	.starter-header__text span {
		font-size: 2rem;
	}
}
@media (max-width: 950px) {
	.elementary-benefits__picture,
	.starter-benefits__picture {
		background-image: none;
		min-height: 450px;
	}
}
@media (max-width: 500px) {
	.children-text {
		padding-left: 6rem;
	}
	.children-text:before {
		top: 12px;
		left: -14px;
	}
	.children-button {
		display: block;
		margin: 0;
	}
	.elementary-header__text,
	.individual-header__text,
	.individual-text,
	.pi-header__text,
	.starter-header__text {
		font-size: 1.8rem;
	}
	.individual-header__image,
	.starter-header__image {
		min-height: 200px;
	}
	.individual-highlight,
	.individual-highlight2 {
		font-size: 2.2rem;
	}
	.it-header__title {
		font-size: 4rem;
	}
	.elementary-benefits__picture,
	.starter-benefits__picture {
		margin-bottom: 7rem;
	}
	.pi-header__image {
		min-height: 150px;
	}
	.elementary-header__image {
		min-height: 100px;
	}
}
@media (max-width: 430px) {
	.group-studying__text-top {
		font-size: 1.7rem;
	}
	.elementary-benefits__picture,
	.starter-benefits__picture {
		min-height: 500px;
		margin-bottom: 10rem;
	}
}
@media (max-width: 380px) {
	.item-education__text {
		top: -2rem;
	}
	.elementary-benefits__picture,
	.starter-benefits__picture {
		margin-bottom: 14rem;
	}
	.pi-benefits__picture {
		margin-bottom: 8rem;
	}
}
.elementary-benefits__item:before {
	position: absolute;
}
.elementary-content {
	padding: 2rem 1rem;
	margin-bottom: 4rem;
	background: -o-linear-gradient(41deg, #020024 0, #c6f3ca 0, #f7f8fd 100%);
	background: linear-gradient(49deg, #020024 0, #c6f3ca 0, #f7f8fd 100%);
	border-radius: 15px;
}
@media (max-width: 350px) {
	.collapsable-hidden-content ul {
		padding-left: 2rem;
	}
	.corporate-english__programms {
		margin-top: -12rem;
	}
	.after-corporate__list {
		top: 0;
	}
	.elementary-benefits,
	.starter-benefits {
		margin-top: -3rem;
	}
	.elementary-benefits__picture,
	.starter-benefits__picture {
		min-height: 550px;
		margin-bottom: 18rem;
	}
	.elementary-clicable-elements,
	.pi-clicable-elements,
	.starter-clicable-elements {
		margin-top: 9rem;
	}
}
.wrapper1 {
	min-height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
body._lock,
body.lock {
	overflow: hidden;
}
