.main {
  padding-top: 20rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
  max-width: 70%;
  margin: 0 auto;
  line-height: 1.4;
  margin-bottom: 3rem;
}

caption {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
}

.resp-tab {
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-bottom: 4rem;
}

.resp-tab th,
.resp-tab td {
  text-align: center;
  padding: 10px 20px;
  font-size: 13px;
  border: none;
  font-family: Verdana, sans-serif;
  vertical-align: center;
}

.resp-tab td:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.resp-tab th {
  color: #fff;
  background: #337ab7;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.25;
}

.resp-tab tr:nth-child(even) {
  background: #edf7ff;
}

.resp-tab td span {
  background: #337ab7;
  color: #fff;
  display: none;
  font-size: 11px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  text-transform: uppercase;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  h1 {
    max-width: 100%;
    font-size: 2rem;
  }
  .resp-tab thead {
    display: none;
  }
  .resp-tab tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .resp-tab td {
    margin: 0 -1px -1px 0;
    padding-top: 35px;
    position: relative;
    width: 50%;
  }
  .resp-tab td span {
    display: block;
    width: 90%;
    margin-left: 1.5rem;
  }
}
@media (max-width: 480px) {
  h1 {
    max-width: 100%;
    font-size: 1.8rem;
  }
  .resp-tab td {
    width: 100%;
  }
  .resp-tab td {
    border-right: none !important;
  }
}
.th-main {
  min-width: 25rem;
}

.th-duration {
  max-width: 18rem;
}

.th-quantity {
  min-width: 20rem;
}