@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"); /* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  line-height: 1;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  margin-top: 14rem;
  color: #000;
}

h2 {
  font-weight: 500;
  text-align: left;
  line-height: 1.2em;
  vertical-align: baseline;
  color: #204a66;
  position: relative;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

[class*=_container] {
  max-width: 110rem;
  min-width: 32rem;
  margin: 0px auto;
  padding: 0px 1.5rem;
}

.header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  background-color: #fff;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__text {
  font-size: 1.9rem;
  font-weight: 500;
  color: #204a66;
  margin-right: auto;
  line-height: 1.05;
}
.header__tel {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0.4rem;
  color: #204a66;
  font-size: 1.8rem;
  line-height: 1.6em;
}
.header__viber span {
  width: 45px;
  height: 45px;
}
.header .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 4rem;
}
.header__additional-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__bottom {
  background: #204a66;
  -webkit-box-shadow: 0px 5px 14px -3px rgba(64, 64, 64, 0.84);
          box-shadow: 0px 5px 14px -3px rgba(64, 64, 64, 0.84);
}
.header__list {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__item {
  cursor: pointer;
  position: relative;
}
.header__item:not(:last-child) {
  margin-right: 1.5rem;
}
.header__item:hover {
  background: #324158;
}
.header__link {
  display: inline-block;
  padding: 2rem 1rem;
  font-size: 1.5rem;
  color: #fff;
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 11rem;
  height: 100%;
  margin-right: 3rem;
}

.submenu {
  padding-right: 1rem;
}
.submenu .header__link:after {
  content: "";
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  right: 1%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("../img/dropdown.png");
  background-size: 14px 14px;
  background-repeat: no-repeat;
}
.submenu:hover .submenu__list {
  display: block;
}
.submenu__list {
  display: none;
  position: absolute;
  top: 5.5rem;
  left: -1.5rem;
  background: #204a66;
  min-width: 14rem;
  border-radius: 0 0 4px 4px;
}
.submenu__item:hover {
  background: #324158;
}
.submenu__item:not(:last-child) {
  border-bottom: 1px solid #000;
}
.submenu__link {
  display: block;
  color: #fff;
  padding: 1rem 20px 1rem 1rem;
  font-size: 1.2rem;
  color: #fff;
  min-width: 10rem;
}

.about {
  font-size: 1.8rem;
  color: #000;
  background-color: #fff;
}
.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__list {
  margin-top: 2rem;
}
.about__text {
  padding: 4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  background-color: rgb(255, 160, 168);
}
.about__form {
  background-color: rgb(195, 195, 195);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 8rem 2rem;
}

.form__wrapper {
  border-radius: 10px;
  padding: 2rem;
  background-color: rgb(248, 248, 248);
}
.form__discount {
  text-align: center;
  margin-top: 1rem;
}
.form__content {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__email, .form__tel {
  border: 2px solid #cee1e5;
  border-radius: 5px;
  padding: 8px 10px;
  width: 310px;
  color: #575757;
  margin: 0 auto;
  margin-bottom: 1rem;
  outline: 0;
}
.form__agree {
  width: 310px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 10px;
}
.form__text {
  text-align: center;
}
.needs {
  margin-top: 5rem;
}
.needs__title {
  margin-bottom: 3rem;
}
.needs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.needs__item {
  margin-bottom: 3rem;
}
.needs__arrow {
  position: relative;
  min-height: 2rem;
}
.needs__arrow:after {
  position: absolute;
  content: "";
  -webkit-transform: translate(-50%, -40%);
      -ms-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  top: 50%;
  left: 50%;
  width: 3rem;
  height: 3rem;
  background-image: url("../img/upward-arrow.png");
  background-size: 3rem 3rem;
  -webkit-animation: go-top-bottom 1.5s infinite alternate;
          animation: go-top-bottom 1.5s infinite alternate;
}
.needs__problem {
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 3rem;
  position: relative;
}
.needs__solution {
  font-size: 1.8rem;
  margin-top: 1rem;
}

@-webkit-keyframes go-top-bottom {
  from {
    top: 0;
  } /* от: left: 0px */
  to {
    top: -1rem;
  }
}

@keyframes go-top-bottom {
  from {
    top: 0;
  } /* от: left: 0px */
  to {
    top: -1rem;
  }
}
.item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  min-height: 22rem;
  margin: 0 auto;
  padding: 2rem 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.item:not(:last-child) {
  margin-bottom: 3rem;
}
.item__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  margin-right: 1.5rem;
  max-width: 20rem;
  max-height: 20rem;
}
.item__picture {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}
.item__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item--reversed {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.item--reversed .item__img {
  margin: 0;
  margin-left: 5rem;
}

.prices__info {
  margin-bottom: 2rem;
}
.prices__title {
  margin-bottom: 2rem;
}
.prices__text {
  font-size: 1.6rem;
}
.prices__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}
.prices__card {
  margin-bottom: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  padding-right: 1rem;
  padding-left: 1rem;
  max-width: 25%;
}

.card {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
.card:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}
.card:hover .card__link {
  -webkit-box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.13);
          box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.13);
}
.card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: 1rem 1rem 2rem 1rem;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #5a5665;
}
.card__icon {
  width: 45px;
  height: 45px;
  fill: #d33e50;
  z-index: 1;
  position: relative;
  margin: 0 0 1rem;
  padding: 15px;
  background: #f5f7f9;
  display: inline-block;
  border-radius: 500%;
  height: 100%;
  margin-bottom: 4rem;
}
.card__image {
  vertical-align: top;
  width: 100%;
}
.card__title {
  min-height: 4rem;
  max-width: 70%;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.card__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 80%;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.card__price {
  text-align: center;
}
.card__price span {
  font-weight: bold;
  font-size: 3rem;
}
.card__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.card__more svg {
  border-radius: 50%;
}
.card:hover svg {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.card:hover .arrow-right {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  fill: #d33e50;
}

.advantages__list {
  padding: 2rem;
}
.advantages__items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantages__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  padding: 2rem 3rem 2rem 5rem;
  color: #204a66;
  text-transform: uppercase;
}
.advantages__item:before {
  display: block;
  content: "";
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: hsl(140deg, 40%, 55%);
  border-radius: 50%;
}

.image-slider {
  position: relative;
  background-color: rgb(244, 243, 241);
  border-radius: 10px;
  padding: 3rem;
  margin-bottom: 13rem;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}
.image-slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.image-slider a {
  color: #000;
}
.image-slider__slide {
  min-height: 100%;
  background-color: #e9e9e9;
  border-radius: 10px;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.image-slider__slide > * {
  padding: 1rem;
}
.image-slider__img {
  margin-bottom: 2rem;
  height: 220px;
}
.image-slider__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.image-slider__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.image-slider__header {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.image-slider__paragraph {
  font-size: 1.6rem;
}
.image-slider__button {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding-top: 2rem;
  margin: auto 1rem 1rem auto;
  text-align: right;
}
.image-slider__button div {
  padding: 1rem;
  border: 1px solid #204a66;
  border-radius: 5px;
}

.swiper {
  max-width: 100%;
  height: auto;
}
.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}
.swiper-slide__ref:hover .image-slider__button {
  color: red;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.programms {
  position: relative;
}

.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: -5%;
}
.swiper-button-prev:after {
  content: "";
}

.swiper-button-next {
  position: absolute;
  top: 50%;
  right: -5%;
}
.swiper-button-next:after {
  content: "";
}

.fa-arrow-right,
.fa-arrow-left {
  font-size: 6rem;
  color: #204a66;
}
.fa-arrow-right:focus, .fa-arrow-right:active,
.fa-arrow-left:focus,
.fa-arrow-left:active {
  outline: none;
}

.after-education {
  margin-bottom: 20rem;
}
.after-education__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}
.after-education__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  max-width: 33.333%;
  text-align: center;
  padding: 3rem 3rem;
}
.after-education__icon {
  width: 80px;
  height: 80px;
  display: inline-block;
  margin-bottom: 15px;
}
.after-education .icon-6 {
  background: url("../img/6.png") no-repeat center center/65px;
}
.after-education .icon-7 {
  background: url("../img/7.png") no-repeat center center/65px;
}
.after-education .icon-8 {
  background: url("../img/8.png") no-repeat center center/65px;
}
.after-education .icon-9 {
  background: url("../img/9.png") no-repeat center center/65px;
}
.after-education .icon-10 {
  background: url("../img/10.png") no-repeat center center/65px;
}
.after-education__title {
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
  color: #204a66;
}
.after-education__text {
  font-size: 1.4rem;
  line-height: 1.6em;
  color: #5a5665;
}

.item-education {
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 3rem 2rem;
}
.item-education__text {
  line-height: 1.4;
  font-weight: 700;
  color: #204a66;
  text-transform: uppercase;
  text-align: center;
  margin: 3rem 0;
  width: 100%;
  font-size: 30px;
}

.footer {
  padding: 1rem;
  background-color: #204a66;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footer section {
  margin-right: 3rem;
}
.footer__item1 {
  margin-bottom: 2rem;
}
.footer__item1:hover .footer__link1 {
  color: orange;
}
.footer__link1 {
  color: #c4c4bc;
}

.contract {
  padding-top: 20rem;
  color: black;
}
.contract h1 {
  font-weight: 800;
  font-size: 52px;
  line-height: 60px;
  margin-top: 49.8px;
  margin-bottom: 34.8px;
}
.contract h2 {
  font-size: 2rem;
}
.contract h3 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 46px;
  margin-top: 49.8px;
  margin-bottom: 24.9px;
}
.contract p {
  font-size: 1.25rem;
  line-height: 32px;
}