@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap"); /* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  line-height: 1;
  color: #fff;
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  margin-top: 14rem;
  color: #000;
}

h2 {
  font-weight: 500;
  text-align: left;
  line-height: 1.2em;
  vertical-align: baseline;
  color: #204a66;
  position: relative;
  text-transform: uppercase;
  font-size: 2.7rem;
  margin-bottom: 3rem;
}

strong {
  font-size: 2.2rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

[class*=_container] {
  max-width: 110rem;
  min-width: 32rem;
  margin: 0px auto;
  padding: 0px 1.5rem;
}

.header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  background-color: #fff;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__text {
  font-size: 1.9rem;
  font-weight: 500;
  color: rgb(0, 18, 104);
  margin-right: auto;
  line-height: 1.05;
}
.header__tel {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0.4rem;
  color: rgb(0, 18, 104);
  font-size: 1.8rem;
  line-height: 1.6em;
}
.header__free-testing-button {
  background: #ffc714;
  margin-right: 2rem;
  -ms-flex-item-align: center;
      align-self: center;
}
.header__free-lesson-button {
  background: #e51f2b;
  margin-right: 2rem;
}
.header__viber span {
  width: 45px;
  height: 45px;
}
.header .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 4rem;
}
.header__additional-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__bottom {
  background: rgb(0, 18, 104);
  -webkit-box-shadow: 0px 5px 14px -3px rgba(64, 64, 64, 0.84);
          box-shadow: 0px 5px 14px -3px rgba(64, 64, 64, 0.84);
}
.header__list {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__item {
  cursor: pointer;
  position: relative;
}
.header__item:not(:last-child) {
  margin-right: 1.5rem;
}
.header__item:hover {
  background: #324158;
}
.header__link {
  display: inline-block;
  padding: 2rem 1rem;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 600;
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 11rem;
  height: 100%;
  margin-right: 3rem;
}
.logo--faded {
  opacity: 0.75;
}

.submenu {
  padding-right: 1rem;
}
.submenu .header__link:after {
  content: "";
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  right: 1%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("../img/dropdown.png");
  background-size: 14px 14px;
  background-repeat: no-repeat;
}
.submenu:hover .submenu__list {
  display: block;
}
.submenu__list {
  display: none;
  position: absolute;
  top: 5.5rem;
  left: -1.5rem;
  background: rgb(0, 18, 104);
  min-width: 24rem;
  border-radius: 0 0 4px 4px;
}
.submenu__item:hover {
  background: #324158;
}
.submenu__item:not(:last-child) {
  border-bottom: 1px solid rgba(128, 128, 128, 0.7);
}
.submenu__link {
  display: block;
  color: #fff;
  padding: 1rem 2rem 1.5rem 1.3rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4;
  color: #fff;
  min-width: 10rem;
}

.button-action {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 230px;
          flex: 0 1 230px;
  max-height: 60px;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.3;
  border-radius: 4px;
  color: #fff;
  padding: 10px 5px 10px 5px;
  outline: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}

.about {
  font-size: 2rem;
  color: #000;
  background-color: #fff;
}
.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__message {
  text-align: left;
  padding: 1rem;
}
.about__strong {
  display: inline-block;
  margin-bottom: 2rem;
  position: relative;
  color: #000;
  line-height: 1.2;
}
.about__strong span {
  font-style: italic;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 500;
}
.about__list {
  margin-top: 2rem;
  position: relative;
  color: #000;
}
.about__item {
  margin-bottom: 1rem;
  list-style: disc;
}
.about__text {
  color: #fff;
  padding: 4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -o-linear-gradient(89deg, #edefee, #c9c9c9);
  background: linear-gradient(1deg, #edefee, #c9c9c9);
}
.about__img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(2.5px);
          filter: blur(2.5px);
  -o-object-fit: cover;
     object-fit: cover;
}
.about__form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 8rem 5rem;
  position: relative;
}

.form__wrapper {
  border-radius: 10px;
  padding: 2rem;
  background-color: rgb(248, 248, 248);
  position: relative;
}
.form__discount {
  text-align: center;
  margin-top: 1rem;
  line-height: 1.2;
}
.form__content {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__content--horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form__content--horizontal > input {
  margin: 0;
  margin-right: 1rem;
}
.form__email, .form__tel {
  border: 2px solid #cee1e5;
  border-radius: 5px;
  padding: 8px 10px;
  width: 310px;
  color: #575757;
  margin: 0 auto;
  margin-bottom: 1rem;
  outline: 0;
}
.form__agree {
  width: 310px;
  color: #fff;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgb(255, 90, 102);
}
.form__text {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1rem;
}
.form__agree {
  font-size: 2rem;
  font-weight: 600;
}

.message-about {
  color: rgb(0, 18, 104);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.message-about__header {
  margin-bottom: 1rem;
  font-size: 3rem;
  opacity: 1;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.message-about__list {
  margin: 0 auto;
  padding: 1rem;
}
.message-about__item {
  font-size: 2.1rem;
  padding-bottom: 9px;
  list-style: disc;
}

.item1 {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-name: from-bottom;
          animation-name: from-bottom;
  opacity: 0;
  -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.item2 {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-name: from-bottom;
          animation-name: from-bottom;
  opacity: 0;
  -webkit-transform: translateY(80px);
      -ms-transform: translateY(80px);
          transform: translateY(80px);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.item3 {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-name: from-bottom;
          animation-name: from-bottom;
  opacity: 0;
  -webkit-transform: translateY(60px);
      -ms-transform: translateY(60px);
          transform: translateY(60px);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.item4 {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-name: from-bottom;
          animation-name: from-bottom;
  opacity: 0;
  -webkit-transform: translateY(40px);
      -ms-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes from-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes from-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.needs {
  background-image: -webkit-gradient(linear, right top, left top, from(#f3ffe5), to(#f1f4f9));
  background-image: -o-linear-gradient(right, #f3ffe5 0%, #f1f4f9 100%);
  background-image: linear-gradient(-90deg, #f3ffe5 0%, #f1f4f9 100%);
  padding-top: 4rem;
  margin-top: 5rem;
}
.needs__title {
  margin-bottom: 1rem;
}
.needs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.needs__arrow {
  position: relative;
  min-height: 1rem;
}
.needs__arrow:after {
  position: absolute;
  content: "";
  -webkit-transform: translate(-50%, -40%) rotate(-90deg);
      -ms-transform: translate(-50%, -40%) rotate(-90deg);
          transform: translate(-50%, -40%) rotate(-90deg);
  top: 50%;
  left: 50%;
  width: 3rem;
  height: 3rem;
  background-image: url("../img/upward-arrow.svg");
  background-size: 3rem 3rem;
  -webkit-animation: go-top-bottom 1.5s infinite alternate;
          animation: go-top-bottom 1.5s infinite alternate;
}
.needs__problem {
  font-size: 1.7rem;
  font-style: italic;
  line-height: 1.1;
  font-weight: 500;
  padding-bottom: 1.5rem;
  position: relative;
}
.needs__solution {
  font-weight: 500;
  font-size: 1.55rem;
  line-height: 1.1;
  margin-top: 1rem;
}

@-webkit-keyframes go-top-bottom {
  from {
    top: 0;
  } /* от: left: 0px */
  to {
    top: -1rem;
  }
}

@keyframes go-top-bottom {
  from {
    top: 0;
  } /* от: left: 0px */
  to {
    top: -1rem;
  }
}
.item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 18rem;
  margin: 0 auto;
  padding: 1rem 1rem 1rem;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.item__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  margin-right: 1.5rem;
  max-width: 15rem;
  max-height: 15rem;
}
.item__picture {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}
.item__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item--reversed {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.item--reversed .item__img {
  margin: 0;
  margin-left: 5rem;
}

.needs__item--full-row {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 700px;
}

.prices {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-top: 6rem;
}
.prices__info {
  margin-bottom: 2rem;
}
.prices__text {
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 4rem;
}
.prices__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}
.prices__card {
  margin-bottom: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  padding-right: 1rem;
  padding-left: 1rem;
  max-width: 25%;
}
.prices__additional-info {
  margin-top: 2rem;
  font-size: 2rem;
  line-height: 1.3;
}

.card {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
.card:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}
.card:hover .card__link {
  -webkit-box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.13);
          box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.13);
}
.card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: 1rem 1rem 2rem 1rem;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #5a5665;
}
.card__icon {
  width: 45px;
  height: 45px;
  fill: #d33e50;
  z-index: 1;
  position: relative;
  margin: 0 0 1rem;
  padding: 15px;
  background: #f5f7f9;
  display: inline-block;
  border-radius: 500%;
  height: 100%;
  margin-bottom: 4rem;
}
.card__image {
  vertical-align: top;
  width: 100%;
}
.card__title {
  min-height: 4rem;
  max-width: 70%;
  font-size: 2.2rem;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.card__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 80%;
  padding-bottom: 1rem;
  font-size: 1.6rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.card__price {
  font-size: 2rem;
  text-align: center;
}
.card__price span {
  font-weight: bold;
  font-size: 3rem;
}
.card__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.card__more svg {
  border-radius: 50%;
}
.card:hover svg {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.card:hover .arrow-right {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  fill: #d33e50;
}

.advantages {
  background-image: -webkit-gradient(linear, right top, left top, from(#f3ffe5), to(#f1f4f9));
  background-image: -o-linear-gradient(right, #f3ffe5 0%, #f1f4f9 100%);
  background-image: linear-gradient(-90deg, #f3ffe5 0%, #f1f4f9 100%);
  padding-top: 7rem;
  padding-bottom: 2rem;
  margin-bottom: 5rem;
}
.advantages__list {
  padding: 2rem;
}
.advantages__items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantages__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  padding: 2rem 3rem 2rem 5rem;
  color: rgb(0, 18, 104);
  text-transform: uppercase;
}
.advantages__item:before {
  display: block;
  content: "";
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: hsl(140deg, 40%, 55%);
  border-radius: 50%;
}

.image-slider {
  position: relative;
  background-color: rgb(244, 243, 241);
  border-radius: 10px;
  padding: 3rem;
  margin-bottom: 13rem;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}
.image-slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.image-slider a {
  color: #000;
}
.image-slider__slide {
  min-height: 100%;
  background-color: #e9e9e9;
  border-radius: 10px;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.image-slider__slide > * {
  padding: 1rem;
}
.image-slider__img {
  text-align: center;
  margin-bottom: 1rem;
  height: 220px;
}
.image-slider__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.image-slider__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.image-slider__header {
  font-size: 2rem;
  margin-bottom: 1rem;
  min-height: 4rem;
}
.image-slider__paragraph {
  font-size: 1.6rem;
}
.image-slider__button {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding-top: 2rem;
  margin: auto 1rem 1rem auto;
  text-align: right;
}
.image-slider__button div {
  padding: 1rem;
  border: 1px solid rgb(0, 18, 104);
  border-radius: 5px;
}

.swiper {
  max-width: 100%;
  height: auto;
}
.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}
.swiper-slide__ref:hover .image-slider__button {
  color: red;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.programms {
  position: relative;
}

.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: -5%;
}
.swiper-button-prev:after {
  content: "";
}

.swiper-button-next {
  position: absolute;
  top: 50%;
  right: -5%;
}
.swiper-button-next:after {
  content: "";
}

.fa-arrow-right,
.fa-arrow-left {
  font-size: 6rem;
  color: rgb(0, 18, 104);
}
.fa-arrow-right:focus, .fa-arrow-right:active,
.fa-arrow-left:focus,
.fa-arrow-left:active {
  outline: none;
}

.contain {
  width: auto !important;
}

.after-education {
  font-size: 2rem;
  line-height: 1.16;
  background-image: -webkit-gradient(linear, right top, left top, from(#f3ffe5), to(#f1f4f9));
  background-image: -o-linear-gradient(right, #f3ffe5 0%, #f1f4f9 100%);
  background-image: linear-gradient(-90deg, #f3ffe5 0%, #f1f4f9 100%);
  padding-top: 7rem;
  margin-top: 5rem;
  margin-bottom: 0;
}
.after-education__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}
.after-education__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  max-width: 33.333%;
  text-align: center;
  padding: 3rem 3rem;
}
.after-education__icon {
  width: 80px;
  height: 80px;
  display: inline-block;
  margin-bottom: 15px;
}
.after-education .icon-6 {
  background: url("../img/6.png") no-repeat center center/65px;
}
.after-education .icon-7 {
  background: url("../img/7.png") no-repeat center center/65px;
}
.after-education .icon-8 {
  background: url("../img/8.png") no-repeat center center/65px;
}
.after-education .icon-9 {
  background: url("../img/9.png") no-repeat center center/65px;
}
.after-education .icon-10 {
  background: url("../img/10.png") no-repeat center center/65px;
}
.after-education__title {
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
  color: #204a66;
}
.after-education__text {
  font-size: 1.7rem;
  line-height: 1.6em;
  color: #5a5665;
}

.item-education {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/hmmm.jpg") no-repeat center;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 3rem 2rem;
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.item-education:hover {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}
.item-education__text {
  position: absolute;
  top: 0;
  left: 1.6rem;
  max-width: 40%;
  line-height: 1.2;
  font-weight: 700;
  color: rgb(0, 18, 104);
  text-align: left;
  text-transform: uppercase;
  margin: 3rem 0;
  width: 100%;
  font-size: 2.4rem;
}

.footer {
  padding: 2rem;
  background-color: rgb(0, 18, 104);
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footer section {
  margin-right: 3rem;
}
.footer__item1 {
  margin-bottom: 2rem;
}
.footer__item1:hover .footer__link1 {
  color: orange;
}
.footer__link1 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
}

.contract {
  padding-top: 20rem;
  color: black;
}
.contract h1 {
  font-weight: 800;
  font-size: 52px;
  line-height: 60px;
  margin-top: 49.8px;
  margin-bottom: 34.8px;
}
.contract h2 {
  font-size: 2rem;
}
.contract h3 {
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 46px;
  margin-top: 49.8px;
  margin-bottom: 24.9px;
}
.contract p {
  font-size: 1.9rem;
  line-height: 1.6;
}

.popup {
  font-size: 2rem;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotate(0);
          transform: perspective(600px) translate(0px, 0%) rotate(0);
  opacity: 1;
}
.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}
.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 600px;
  padding: 4rem;
  position: relative;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotate(45deg);
          transform: perspective(600px) translate(0px, -100%) rotate(45deg);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.popup__title {
  text-align: center;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.group-studying {
  margin-top: 12rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: -webkit-gradient(linear, left top, right top, from(#454545), to(#212121));
  background: -o-linear-gradient(left, #454545, #212121);
  background: linear-gradient(90deg, #454545, #212121);
  margin-bottom: 4rem;
}
.group-studying__title {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
}
.group-studying__button {
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.group-studying__link {
  display: inline-block;
  padding: 1.5rem 2rem;
  background-color: #02be6e;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
}
.group-studying__link:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}
.group-studying__list {
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 4rem 1rem;
}
.group-studying__item {
  gap: 20px;
  display: grid;
  grid-template-columns: 50px 1fr;
}
.group-studying__icon img {
  max-width: 50px;
}
.group-studying__text-top {
  line-height: 1.3;
  font-size: 1.4rem;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: start;
}

.group-advantages {
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 5rem;
}
.group-advantages__title {
  padding-left: 6rem;
  margin-bottom: 2rem;
}
.group-advantages__description {
  position: relative;
  padding-left: 6rem;
  margin-bottom: 4rem;
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 500;
}
.group-advantages__description:before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 2px;
  background-image: url("../img/question-mark.svg");
}
.group-advantages__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}
.group-advantages__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 250px;
          flex: 1 0 250px;
  max-height: 250px;
}
.group-advantages__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.group-advantages__image {
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.group-advantages__subtitle {
  position: relative;
  padding-left: 4rem;
  font-size: 1.7rem;
  color: rgb(0, 18, 104);
  font-weight: 600;
  margin-bottom: 1rem;
}
.group-advantages__subtitle:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: -4px;
  left: 0;
  background-image: url("../img/check-icon.svg");
}
.group-advantages__text {
  padding-left: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.group-form {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: url("../img/free-testing.jpg") 87% no-repeat, -webkit-gradient(linear, left top, right top, from(#121117), to(#00a89b));
  background: url("../img/free-testing.jpg") 87% no-repeat, -o-linear-gradient(left, #121117, #00a89b);
  background: url("../img/free-testing.jpg") 87% no-repeat, linear-gradient(90deg, #121117, #00a89b);
}
.group-form__title {
  padding-left: 5rem;
  color: #fff;
}
.group-form__title span {
  color: rgb(255, 60, 102);
}

.group-benefits__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.group-benefits__left {
  margin-top: auto;
  margin-bottom: auto;
  color: #000;
  max-width: 400px;
  margin-right: 4rem;
}
.group-benefits__text {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 1.2;
  position: relative;
}
.group-benefits__text:before {
  position: absolute;
  content: "";
  left: -40px;
  top: -6px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-image: url("../img/dart.svg");
}
.group-benefits__text span {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 3px;
  font-style: italic;
}
.group-benefits__image {
  border-radius: 10px;
  max-width: 300px;
  max-height: 300px;
}

.wrapper1 {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  height: 100%;
}

body.lock {
  overflow: hidden;
}